{% extends 'base.html' %}

{% block menu %}<li><a href="{% url "article:add" %}">Создать статью</a></li>{% endblock menu %}

{% block title %}Все статьи{% endblock title %}

{% block page_header %}Все статьи{% endblock page_header %}

{% block content %}
    {% if not articles %}
        <h2>НЕТ СТАТЕЙ</h2>
    {% else %}
        {% include "partial/search_form.html" %}
    {% endif %}

    {% for article in articles %}  {# Перебираем список статей циклом #}
        {# Создаём абзац, в котором отображем автора статьи и заголовок статьи, обёрнутый в ссылку, #}
        {# которая ведёт на страницу статьи #}
        <p>{{ article.author }}: <a href="{% url "article:view" article.id %}">{{ article.title }}</a></p>
    {% endfor %}
    {% include 'partial/paginate.html' %}
{% endblock content %}
