<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color: pink;
        }
    </style>
</head>
<body>
    <h1>MY FIRST DJANGO APP! YOOHOO</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam at autem commodi consectetur deserunt dignissimos fuga fugit inventore libero, molestiae nihil numquam possimus quam quas rem, sit totam voluptatibus.</p>
</body>
</html>