{% extends "base.html" %}

{% block menu %}
    <li><a href="{% url "article-add" %}">Создать статью</a></li>
    <li><a href="{% url "article-update" article.id %}">Редактировать статью</a></li>
    <li><a href="{% url "article-delete" article.id %}">Удалить статью</a></li>
{% endblock menu %}

{% block page_header %}Статья {{ article.id }}{% endblock page_header %}

{% block content %}
    <p>Title: {{ article.title }}</p>
    <p>Author: {{ article.author }}</p>
    <p>Content: {{ article.content }}</p>
{% endblock content %}