{% extends 'base.html' %}

{% block title %}Все новости{% endblock title %}

{% block content %}
    <a href="{% url "article-add" %}">Создать статью</a>
    <h1>Articles</h1>
    {% if not articles %}
        <h2>НЕТ СТАТЕЙ</h2>
    {% endif %}

    {% for article in articles %}  {# Перебираем список статей циклом #}
        {# Создаём абзац, в котором отображем автора статьи и заголовок статьи, обёрнутый в ссылку, #}
        {# которая ведёт на страницу статьи #}
        <p>{{ article.author }}: <a href="{% url "article-view" article.id %}">{{ article.title }}</a></p>
    {% endfor %}
{% endblock content %}
